<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>LoginFilter</filter-class>
        <init-param>
            <param-name>student_info.jsp</param-name>
            <param-value>/student_info.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>edit.jsp</param-name>
            <param-value>/edit.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>admin_home.jsp</param-name>
            <param-value>/admin_home.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin_home.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/student_info.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/edit.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>first_servlet</servlet-name>
        <servlet-class>first_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_verification_edit</servlet-name>
        <servlet-class>Company_verification_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_company_edit</servlet-name>
        <servlet-class>database_search_company_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>company_update_info</servlet-name>
        <servlet-class>company_update_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert_job</servlet-name>
        <servlet-class>insert_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_company</servlet-name>
        <servlet-class>Insert_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sid_verification</servlet-name>
        <servlet-class>sid_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_student</servlet-name>
        <servlet-class>database_search_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_verification_delete</servlet-name>
        <servlet-class>Company_verification_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_campany</servlet-name>
        <servlet-class>database_search_campany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_searched_company</servlet-name>
        <servlet-class>delete_searched_company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_info_register</servlet-name>
        <servlet-class>student_info_register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>first_servlet_student</servlet-name>
        <servlet-class>first_servlet_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlet_student</servlet-name>
        <servlet-class>login_servlet_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_update_info</servlet-name>
        <servlet-class>student_update_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sid_verification_delete</servlet-name>
        <servlet-class>sid_verification_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_stu_delete</servlet-name>
        <servlet-class>database_search_stu_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_searched_student</servlet-name>
        <servlet-class>delete_searched_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_student_status</servlet-name>
        <servlet-class>student_status.database_search_student_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sid_verification_status</servlet-name>
        <servlet-class>student_status.sid_verification_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set_status</servlet-name>
        <servlet-class>set_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_job</servlet-name>
        <servlet-class>update_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_job</servlet-name>
        <servlet-class>delete_job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sid_verification_status_for_edit</servlet-name>
        <servlet-class>student_status.sid_verification_status_for_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_status_processing</servlet-name>
        <servlet-class>student_status.student_status_processing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sid_verification_status_for_delete</servlet-name>
        <servlet-class>student_status.sid_verification_status_for_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_status</servlet-name>
        <servlet-class>student_status.delete_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report_test</servlet-name>
        <servlet-class>report_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_verfiction_login</servlet-name>
        <servlet-class>student_login_and_view.student_verfiction_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_login_verification</servlet-name>
        <servlet-class>student_login_and_view.student_login_verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_login_database_search</servlet-name>
        <servlet-class>student_login_and_view.student_login_database_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show_interest</servlet-name>
        <servlet-class>student_login_and_view.show_interest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_project</servlet-name>
        <servlet-class>project_module.add_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_project</servlet-name>
        <servlet-class>project_module.edit_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>database_search_edit</servlet-name>
        <servlet-class>project_module.database_search_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_project2</servlet-name>
        <servlet-class>project_module.edit_project2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_project</servlet-name>
        <servlet-class>project_module.delete_project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_search</servlet-name>
        <servlet-class>auto.auto_search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first_servlet</servlet-name>
        <url-pattern>/first_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_company</servlet-name>
        <url-pattern>/Insert_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sid_verification</servlet-name>
        <url-pattern>/sid_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_student</servlet-name>
        <url-pattern>/database_search_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_info_register</servlet-name>
        <url-pattern>/student_info_register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>first_servlet_student</servlet-name>
        <url-pattern>/first_servlet_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlet_student</servlet-name>
        <url-pattern>/login_servlet_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_update_info</servlet-name>
        <url-pattern>/student_update_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sid_verification_delete</servlet-name>
        <url-pattern>/sid_verification_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_stu_delete</servlet-name>
        <url-pattern>/database_search_stu_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_searched_student</servlet-name>
        <url-pattern>/delete_searched_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_verification_delete</servlet-name>
        <url-pattern>/Company_verification_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_campany</servlet-name>
        <url-pattern>/database_search_campany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_searched_company</servlet-name>
        <url-pattern>/delete_searched_company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_verification_edit</servlet-name>
        <url-pattern>/Company_verification_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_company_edit</servlet-name>
        <url-pattern>/database_search_company_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>company_update_info</servlet-name>
        <url-pattern>/company_update_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_student_status</servlet-name>
        <url-pattern>/database_search_student_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sid_verification_status</servlet-name>
        <url-pattern>/sid_verification_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert_job</servlet-name>
        <url-pattern>/insert_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_status</servlet-name>
        <url-pattern>/set_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_job</servlet-name>
        <url-pattern>/update_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_job</servlet-name>
        <url-pattern>/delete_job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sid_verification_status_for_edit</servlet-name>
        <url-pattern>/sid_verification_status_for_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_status_processing</servlet-name>
        <url-pattern>/student_status_processing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sid_verification_status_for_delete</servlet-name>
        <url-pattern>/sid_verification_status_for_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_status</servlet-name>
        <url-pattern>/delete_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report_test</servlet-name>
        <url-pattern>/report_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_verfiction_login</servlet-name>
        <url-pattern>/student_verfiction_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_login_verification</servlet-name>
        <url-pattern>/student_login_verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_login_database_search</servlet-name>
        <url-pattern>/student_login_database_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show_interest</servlet-name>
        <url-pattern>/show_interest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_project</servlet-name>
        <url-pattern>/add_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_project</servlet-name>
        <url-pattern>/edit_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>database_search_edit</servlet-name>
        <url-pattern>/database_search_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_project2</servlet-name>
        <url-pattern>/edit_project2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_project</servlet-name>
        <url-pattern>/delete_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_search</servlet-name>
        <url-pattern>/auto_search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
